@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

html, body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.loginPage {
    margin-top: 20px;
}

/*Heading*/
.socialTitle {
    font-family: 'Damion', cursive, sans-serif;
    text-align: center;
    font-size: 6rem;
    background: linear-gradient(to left, rgb(0, 242, 96), rgb(5, 117, 230));
    float: left;
    margin-top: 30px;
    width: 50%;
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
    user-select: none;
    padding: 5px;
}
/* .subtitle {
    color: #61dafb;
} */
.bugIcon {
    width:57px;
}

.bugIcon2 {
    width: 500px;
    margin: 118px 0;
}

.circle {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    background-color: #61dafb;
    left: -246px;
    top: 54px;
    text-align: center;
    overflow: hidden;

}

/*form*/

.form-control {
    width: 70%;
}

.loginForm {
    width: 50%;
    float: right;
    /* margin: auto; */
    margin-top: 30px;
    /* border: #61dafb solid 3px; */
    /* border-radius: 10px; */
    padding: 0 90px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}


@media screen and (max-width:768px) {
    .loginForm {
        width: 100%;
        margin-top: 40px;
    }
}